.signUp {
  margin-left: 300px;
  width: fit-content;
  color: blue;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

.signUp:hover {
  text-decoration: underline;
}

.song {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.songTopTen {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

.error {
  color: red;
  margin-top: 10px;
}

.itunes {
  width: 300px;
  margin-right: 200px;
}

.viewSong {
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 200px;
  width: fit-content;
  color: blue;
}

input {
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  width: 100%;
  padding: 5px;
}

h1 {
  margin: 15px 0 15px;
}
