.signIn {
  margin: 20px;
  color: blue;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.signIn:hover {
  text-decoration: underline;
}

.signIn:active {
  color: black;
}

.signIn:visited {
  color: purple;
}
